$colorLetra: rgb(255, 255, 255);
$colorPrincipal: rgb(165, 6, 0);
$colorSecundario: rgb(27, 27, 27);
$widthCelular: 80%;
* {
  padding: 0;
  margin: 0px;

  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
// NAV
.nav {
  height: 50px;
  width: 100%;
  background-color: $colorSecundario;
  position: fixed;
  border-bottom: 2px solid white;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(65, 65, 65);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    text-align: center;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(35vh - 40px);
    overflow-y: auto;
  }
}
// HEAD
body {
  color: $colorLetra;
  background-color: $colorSecundario;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
#encabezado button {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  color: white;
  background-color: black;
  border-radius: 6px;
  border: solid 2px white;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 400px;
  transition: 0.2s ease-in-out;
}
#encabezado a {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#encabezado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: $colorPrincipal;
  padding-bottom: 100px;
  padding-top: 100px;
}

#encabezado {
  h1 {
    margin-top: 30px;
    text-align: center;
  }
  p {
    width: 50%;
    text-align: center;
  }
}
#encabezado img {
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background-color: black;
  border-radius: 10px;
  padding: 50px;
}

#haz_tu_pedido {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  margin-bottom: 150px;
}
#haz_tu_pedido h1 {
  margin-bottom: 20px;
}

.telefonos {
  text-align: center;
  display: flex;
  gap: 65px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.telefonos a {
  color: white;
  text-decoration: none;
  background-color: $colorPrincipal;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
  width: 200px;
}
.telefono {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  transition: 0.3s;
}
.telefonos a:hover {
  color: rgb(67, 220, 95);
  background-color: white;
}
#lo_mas_pedido {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#lo_mas_pedido h1 {
  margin-bottom: 15px;
  text-align: center;
}
.comida {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  align-items: center;
  justify-content: center;
}
.comida img {
  width: 300px;
  border-radius: 50px;
}
#lo_mas_pedido h1 {
  margin-bottom: 30px;
}
#encabezado button:hover {
  background-color: $colorLetra;
  color: black;
  border: solid 2px rgb(0, 0, 0);
}

@media (max-width: 745px) {
  #encabezado {
    width: 100%;
  }
  #encabezado p {
    width: $widthCelular;
    text-align: center;
  }
  #encabezado img {
    width: 60%;
  }
  #encabezado button {
    width: $widthCelular;
  }
  #encabezado a {
    width: $widthCelular;
  }

  .telefonos {
    flex-direction: column;
    gap: 20px;
  }
  .telefonos a {
    width: 200px;
  }
  .comida img {
    width: 260px;
  }
}
iframe {
  width: 100%;
}
